    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="span6 offset1">
            <div class="logo"><img src="/static/img/bio48.png" /></div>
            <a class="brand" href="/">{{static_info.blog_title}}</a>
            <p class='tag-line'>{{static_info.site_motto}}</p>
          </div>
          <div class="nav-collapse">
            <ul class="nav">
              <li  class="{% if cur_page == 'home' %} active {% endif %}"><a href="/"><i class="icon-home icon-large"></i>Home</a></li>
              <li class="{% if cur_page == 'about' %} active {% endif %}"><a href="/page/about"><i class="icon-user icon-large"></i>About</a></li>
              </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>